* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffdd00;
    padding: 15px;
}

header * {
    max-width: 800px;
    margin: auto;
    text-align: center;
} 

header ul, header ul li {
    text-align: left;
}

header ul li {
    margin-top: 5px;
}

header table {
    margin: 20px auto 20px;
    border-spacing: 0;
    background-color: hsl(52, 100%, 85%);
    border: 2px solid black;
    outline: 10px solid hsl(52, 100%, 85%);
}

header table td, header table th {
    border: 1px solid black;
    padding: 5px;
}
@media screen and (min-width: 600px){
    section{
        display:flex;
        margin:10px;
        gap:10px;
    }
    h1{
        text-align:center;
    }
    div{
        border-radius: 8px;
        padding:25px;
        height:400px;
        margin-top: 55px;
        width:100%;
    }
}
@media screen and (max-width: 600px){
    div{
        border-radius: 8px;
        padding:15px;
        margin:10px;
        height:100%;
        width:100%;
        margin-right:10px;
        
    }
    h1{
        text-align: center;
    }
    p{
        width: 100%;
    }
}
body{
    background-color: hsl(173, 34%, 58%);
}

p{
    border-top: 2px solid black;
    
}
.div1{
    background-color: hsl(46, 100%, 50%);

}
.div2{
    background-color:hsl(49, 100%, 50%);
}
.div3{
    background-color:hsl(52, 100%, 50%);
}
.div4{
    background-color:hsl(55, 100%, 50%);
}
